@use '../styles/constants/colors';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  padding: 20px 40px;
  @media screen and (max-width: 750px) {
    padding: 10px 20px;
  }
  background-color: colors.$BG;
}
