@use '../../styles/constants/colors';
@use '../../styles/mixins/typography';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  h1 {
    @include typography.head26;
  }
}

.signinBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 30px;

  button {
    width: 280px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }
}

.inputBox {
  label {
    display: inline-block;
    width: 100px;
    height: 40px;
  }

  input {
    height: 40px;
    background-color: none;
    border-bottom: 2px solid #e6e6e6;
  }
}
