@use '../../styles/mixins/typography';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  h1 {
    @include typography.head26;
  }
}
